html{
    background-color: black;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 700;
}

img{
    width: 100%;
    
}

.logo{
    width: 20%;
}